[submodule "Packages/Omiya Games - Common"]
	path = Packages/Omiya Games - Common
	url = git@github.com:OmiyaGames/omiya-games-common.git
[submodule "Packages/Omiya Games - String Cryptographer"]
	path = Packages/Omiya Games - Cryptography
	url = git@github.com:OmiyaGames/string-cryptographer.git
