[submodule "Packages/Omiya Games - Common"]
	path = Packages/Omiya Games - Common
	url = git@github.com:OmiyaGames/omiya-games-common.git
[submodule "Packages/Omiya Games - Cryptography"]
	path = Packages/Omiya Games - Cryptography
	url = git@github.com:OmiyaGames/omiya-games-cryptography.git
[submodule "Packages/Omiya Games - Template Unity Package"]
	path = Packages/Omiya Games - Template Unity Package
	url = git@github.com:OmiyaGames/template-unity-package.git
